*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 28%, 15%);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    z-index: -1;
    a,h1,h2,h3{
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        color: #fff;
    }
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.home-section{
   // background: url('./images/bg-curvy-desktop.svg') no-repeat center center/cover;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
        .logo{
            img{
                width: 80%;
            }
        }
        .links{
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                li{
                    margin-left: 2rem;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                    &:hover{
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .home-texts{
        color: #fff;
        display: grid;
        place-items: center;
        text-align: center;
        position: relative;
        z-index: 21;
        img{
            width: 35%;
        }
        h1{
            padding: 2rem 0 1rem 0;
        }
        h3{
            font-weight: 400;
            padding-bottom: 2rem;
        }
        .btn-get_started{
            background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
            padding: 15px 80px;
            border-radius: 50px;
        }
    }
}
.wave{
    position: absolute;
    left: 0;
    right: 0;
    top: 23rem;
    z-index: 10;
    img{
        width: 100vw;
        max-width: 100vw;
        margin:0 calc(-50vw + 50%);
    }
}